<%- include('partials/header'); -%>

    <form action="/student_login" method="post">

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required><br><br>
        <label for="password">password:</label>
        <input type="password" name="password"><br><br>


        <input type="submit" value="Submit">

    </form>



    <%- include('partials/footer'); -%>